.user-feature {
    background-color: rgb(235, 235, 235);
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    line-height: 1.5;

    .content {
        max-width: 1080px;
        width: calc(100% - 60px);
        min-height: 10px;
        align-self: center;
        flex-direction: row;

        .additionalinfo {
            max-width: 720px;
            margin-bottom: 30px;
        }
        h3 {
            //font-family: 'komika_displayregular';
            width: calc(70% - 60px);
            color: #121212;
            font-size: 30px;
            font-weight: 100;
            //text-transform: uppercase;
            margin-bottom: 60px;
            font-weight: bold;
        }
        .lottie {
            float: right;
            position: relative;
            top: -150px;
            right: -100px;
            width: calc(50% - 60px);
        }
    }
}

.ipad-feature {
    @media screen and (max-width: 1280px) {
        .content {
            .lottie {
                width: 100%;
                position: unset;
                float: unset;
                div {
                    max-width: 480px;
                }
            }
        }
    }
}

.smartphones-feature {
    @media screen and (max-width: 920px) {
        .content {
            flex-direction: column;
            h3 {
                width: calc(100% - 60px);
            }
        }
    }
}
