@font-face {
    font-family: 'komika_displayregular';
    src: url('../assets/fonts/kmkdsp__-webfont.woff2') format('woff2'),
        url('../assets/fonts/kmkdsp__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
