{
    "singleQuote": true,
    "tabWidth": 4,
    "semi": true,
    "bracketSpacing": true,
    "trailingComma": true,
    "jsxBracketSameLine": false,
    "arrowParens": "avoid",
    "proseWraps": "always"
}
