.accordion {
    width: calc(100% - 60px);
    max-width: 1280px;
    margin: auto;
    .question {
        position: relative;
        padding: 25px 50px 25px 25px;
        margin-bottom: 10px;
        color: #fff;
        background-color: rgba(255, 255, 255, 0.08);
        outline: 0;
        cursor: pointer;
        p {
            font-size: 20px;
            font-weight: lighter;
            @media screen and (max-width: 550px) {
                font-size: 16px;
                line-height: 1.4;
            }
        }
        .contents {
            max-height: 0;
            overflow: hidden;
            display: none;
            transition: max-height 400ms ease-in-out;
            &.active {
                max-height: 10000px;
                display: block;
            }
            p {
                font-family: 'Helvetica';
                font-weight: lighter;
                font-size: 16px;
                line-height: 1.5;
                margin-top: 20px;
                @media screen and (max-width: 550px) {
                    font-size: 14px;
                }
            }
        }
    }
}
