.lang-selector {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}
.header {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-image: url('../assets/background-header.png');

    // background: 
    //     linear-gradient(
    //         180deg, 
    //         rgba(151, 151, 151, 0.3) 60%,
    //         rgba(151, 151, 151, 0.3) 60%,
    //         #121212
    //     ),
    //     linear-gradient(
    //         217deg, 
    //         rgba(253, 145, 170, 0.7) 32.1%, 
    //         rgba(239,12,64,1) 100%
    //     );
        
    background-size: cover;
    background-position: bottom center;
    flex-direction: column;
    padding: 60px;
    align-items: center;
    &::after {
        content: ' ';
        position: absolute;
        top: 0;
        width: 100%;
        height: 180px;
        z-index: 0;
    }
    @media screen and (max-width: 768px) {
        padding: 50px 0;
    }
    h1 {
        max-width: 1280px;
        width: 94%;
        text-align: center;
        align-self: center;
        position: relative;
        font-family: 'komika_displayregular';
        color: #fff;
        font-size: 70px;
        font-weight: 100;
        text-transform: uppercase;
        letter-spacing: 0.02em;
        @media screen and (max-width: 768px) {
            font-size: 60px;
        }
        @media screen and (max-width: 500px) {
            font-size: 40px;
        }
    }
    .brand {
        width: 220px;
        height: auto;
        z-index: 1;
        @media screen and (max-width: 768px) {
            width: 180px;
        }
    }
}

.subscription-box {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
        font-size: 30px;
        font-weight: 600;
        //color: #f0c808;
        color: #fff;
        margin: 35px 0;
        @media screen and (max-width: 768px) {
            font-size: 24px;
        }
        @media screen and (max-width: 550px) {
            font-size: 18px;
            margin: 25px 0;
        }
    }
    p {
        color: #fff;
        font-weight: lighter;
        margin-top: 14px;
        font-size: 14px;
        line-height: 2;
        width: 92%;
        align-self: center;
    }
}
