.dev-feature {
    background-color: #121212;
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    line-height: 1.5;

    .content {
        max-width: 1080px;
        width: calc(100% - 60px);
        min-height: 10px;
        align-self: center;
        flex-direction: row;
        //text-align: right;

        .info {
            margin-bottom: 60px;
            position: relative;
            padding-left: calc(100% - 720px);
            
            h3 {
                padding-bottom: 10px;
                color: #fff;
                font-size: 30px;
                font-weight: 100;
                font-weight: bold;
            }
        }

        .additionalinfo {
            //max-width: 720px;
            margin-bottom: 30px;
            padding-left: calc(100% - 720px);
        }
        
        .lottie {
            float: left;
            position: relative;
            top: -150px;
            left: -100px;
            width: calc(50% - 60px);
            max-width: 360px;
        }
    }
}

.ipad-feature {
    @media screen and (max-width: 1280px) {
        .content {
            .lottie {
                width: 100%;
                position: unset;
                float: unset;
                max-width: unset;
                div {
                    max-width: 360px;
                }
            }
        }
    }
}

.smartphones-feature {
    @media screen and (max-width: 920px) {
        .content {
            flex-direction: column;
            .additionalinfo {
                padding-left: 0px;
            }
            .info {
                padding-left: 0px;
                width: calc(100% - 60px);
            }
        }
    }
}
