.dev-feature {
    background-color: #121212;
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    line-height: 1.5;

    .content {
        max-width: 1080px;
        width: calc(100% - 60px);
        min-height: 10px;
        align-self: center;
        flex-direction: row;
        //text-align: right;

        .additionalinfo {
            //max-width: 720px;
            margin-bottom: 30px;
            padding-left: calc(100% - 720px);

            .keywords {
                font-size: 26px;
                color: #fff;
                font-weight: bold;
            }
            .description {
                font-size: 26px;
                color: rgb(194, 194, 194);
            }
        }
        h2 {
            margin-bottom: 60px;
            max-width: 980px;
            font-family: 'komika_displayregular';
            color: #fff;
            font-size: 42px;
            font-weight: 100;
            text-transform: uppercase;
            letter-spacing: 0.02em;
        }
        h3 {
            padding-left: calc(30% + 30px);
            //font-family: 'komika_displayregular';
            //width: calc(70% - 60px);
            color: #fff;
            font-size: 30px;
            font-weight: 100;
            //text-transform: uppercase;
            margin-bottom: 60px;
            font-weight: bold;
        }
        .lottie {
            float: left;
            position: relative;
            top: -150px;
            left: -100px;
            width: calc(50% - 60px);
            max-width: 360px;
        }
    }
}

.ipad-feature {
    @media screen and (max-width: 1280px) {
        .content {
            .lottie {
                width: 100%;
                position: unset;
                float: unset;
                max-width: unset;
                div {
                    max-width: 360px;
                }
            }
        }
    }
}

.smartphones-feature {
    @media screen and (max-width: 920px) {
        .content {
            flex-direction: column;
            .additionalinfo {
                padding-left: 0px;
                .keywords {
                    font-size: 22px;
                }
                .description {
                    font-size: 22px;
                }
            }
            h3 {
                padding-left: 0px;
                width: calc(100% - 60px);
            }
        }
    }
    @media screen and (max-width: 550px) {
        .content {
            .additionalinfo {
                .keywords {
                    font-size: 18px;
                }
                .description {
                    font-size: 18px;
                }
            }
        }
    }
}
