.overview-feature {
    background-color: #121212;
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    .content {
        max-width: 1280px;
        width: calc(100% - 60px);
        min-height: 10px;
        align-self: center;
        flex-direction: row;

        .subslides {
            max-width: 70%;
            min-height: 100%;
            width: calc(100% - 60px);
            flex-direction: row;
            float: right;

            .subslide {
                width: calc(100% - 60px);
                display: flex;
                flex-direction: row;
                margin-bottom: 30px;
                border-top-style: solid;
                border-top-color: rgb(59, 59, 59);
                border-top-width: 1px;
                padding-top: 10px;

                .keywords {
                    text-align: center;
                    line-height: 1.5;
                    font-size: 26px;
                    color: #fff;
                    min-width: 200px;
                    align-self: center;
                    font-weight: bold;
                }
                .description {
                    text-align: center;
                    line-height: 1.5;
                    font-size: 26px;
                    color: rgb(187, 185, 185);
                    min-width: 420px;
                    align-self: center;
                }
            }
        }
        .lottie {
            float: left;
            max-width: 30%;
        }
    }
    h2 {
        margin-bottom: 60px;
        align-self: center;
        max-width: 980px;
        width: calc(100% - 40px);
        text-align: center;
        font-family: 'komika_displayregular';
        color: #fff;
        font-size: 30px;
        font-weight: 100;
        text-transform: uppercase;
        letter-spacing: 0.02em;
    }
}

.smartphones-feature {
    @media screen and (max-width: 920px) {
        .content {
            flex-direction: column;
            .subslides {
                width: 100%;
                max-width: 100%;
                float: unset;
                .subslide {
                    width: 100%;
                    display: block;
                    .keywords {
                        min-width: initial;
                        font-size: 22px;
                    }
                    .description {
                        min-width: initial;
                        font-size: 22px;
                    }
                }
            }
            .lottie {
                max-width: 100%;
                float: unset;
                div {
                    max-width: 360px;
                }
            }
        }
    }
    @media screen and (max-width: 550px) {
        .content {
            .subslides {
                .subslide {
                    .keywords {
                        font-size: 18px;
                    }
                    .description {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}
